<div class="osc_git_box osc_border_color">
	<div class="osc_git_title osc_panel_color osc_border_color">
		<h3 class="pro_name">
			<div class="row_left">
				<img src="https://gitee.com/static/images/logo-en.svg" width="24px">
			</div>
			<div class="row_left osc_git_proname pro_name git_left_div">
				<a class="osc_pro_color" href="{{owner_url}}">{{owner}}</a>
				/
				<a class="osc_pro_color" href="{{url}}">{{name}}</a>
			</div>
			<div class="row_right osc_git_forkstar osc_pro_color forkstar">
				<a class="osc_pro_color" href="{{url}}/stargazers">Star {{subscribers}}</a>
				|
				<a class="osc_pro_color" href="{{url}}/members">Fork {{forks}}</a>
			</div>
			<div class="row_clear">
			</div>
		</h3>
	</div>
	<div class="osc_git_main">
		<div class="osc_background_color">
			<div class="osc_git_info osc_desc_color">
				{{description}}<span></span> &mdash; <a href="{{url}}#readme">阅读更多</a>
			</div>
			<div class="osc_git_issuecommits">
				<b>
					<a class="osc_link_color" href="{{home_page}}">{{home_page}}</a>
				</b>
			</div>
		</div>
		<div class="osc_git_footer osc_panel_color osc_border_color">
			<div class="row_left">
				<a class="osc_link_color" href="{{url}}">
					{{branch}} 分支：
				</a>
				<span class="osc_link_color">
					{{mtime}}
				</span>
			</div>
			<div class="row_right right_span">
				<a class="osc_link_color" href="{{download_url}}">
					源码下载
				</a>
			</div>
			<div class="row_clear">
			</div>
		</div>
		<div class="osc_git_footer osc_git_copyright osc_panel_color osc_border_color osc_link_color">
			<a class="osc_link_color" href="https://gitee.com/">
				码云 - GITEE.COM
			</a>
		</div>
	</div>
</div>