<div class="github-box repo">
<div class="github-box-title">
<h3>
<a class="owner" href="{{owner_url}}" title="{{owner}}">{{owner}}</a>
/
<a class="repo" href="{{url}}" title="{{name}}">{{name}}</a>
</h3>
<div class="github-stats">
<a class="watchers" href="{{url}}/watchers" title="See watchers">{{watchers}}</a>
<a class="forks" href="{{url}}/network/members" title="See forkers">{{forks}}</a>
</div>
</div>
<div class="github-box-content">
<p class="description">{{description}}<span></span> &mdash; <a href="{{url}}#readme">Read More</a></p>
<p class="link"><a href="{{home_page}}">{{home_page}}</a></p>
</div>
<div class="github-box-download">
<div class="updated">Latest commit to the <strong>{{branch}}</strong> branch on {{mtime}}</div>
<a class="download" href="' + repoUrl + '/zipball/master" title="Get repository">Download as zip</a>
</div>
</div>